doctype html
html(lang='en')
  head
    title= `Hello ${user}!`

    meta(charset='utf-8')
    meta(
      name='viewport',
      content='width=device-width, initial-scale=1'
    )
  body
    h1= `Hello ${user}!`
    p How're you?
