h1 Login page content
p
  strong Something on `Login` for us!
div.row
  div.col-12
    p
      img(
        src= asset(loginPic)
        class='fit-width'
      )
    p.clear
div.row
  div.col-12
    h2 nullFront login
    p
      strong is outside example project scope of responsibiliy
    p
      a(href= link(homeLink)) Visit Home page
